html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Manrope';
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: $pre_tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $pre_desktop) {
    max-width: 1280px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
body.is-fixed {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.opacity {
  opacity: 0.5;
}
.no-opacity {
  opacity: 0.9;
}
