body {
  font-family: 'Manrope';
  //   color: $primary-text-color;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: $pre_tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $pre_desktop) {
    max-width: 1280px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
body.is-fixed {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
