@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
}

svg {
  fill: currentColor;
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #111321;
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --gray-color: #a8a8a8;
  --footer-color: #7a7a7a;
  --switcher-gray: #5f6775;
  --switcher-accent: #4b48db;
}
:root body.darkMode {
  --bg-color: #2e2e2e;
  --text-color: #f4f4f4;
  --switcher-gray: #f4f4f4;
  --switcher-accent: #4440f7;
}

body {
  font-family: "Manrope";
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 767.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    max-width: 1280px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body.is-fixed {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff) format("woff"), url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff) format("woff"), url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff) format("woff"), url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  min-height: 81px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  display: inline-block;
  padding: 24px 0;
}

.navbar {
  display: none;
}

.search-field {
  margin-left: auto;
}
.search-field input {
  width: 20px;
}

.mobile-button {
  margin-left: 14px;
}

.theme {
  display: none;
}

@media screen and (min-width: 767.98px) {
  .mobile-button {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 2;
  transform: translateY(-150%);
  transition: transform 250ms cubic-bezier(0.12, 0.56, 0.79, 0.6);
}
.mobile-menu.open-menu {
  transform: translateY(0);
}
@media screen and (min-width: 767.98px) {
  .mobile-menu {
    display: none;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
  padding-left: 16px;
  padding-right: 16px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--accent-color);
  border: 1px solid var(--bg-color);
  border-radius: 50% 50%;
}

.navbar-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navbar-mobile__link {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
}
.navbar-mobile__link.current-page {
  height: 44px;
  width: 100%;
  background-color: var(--accent-color);
  color: #f4f4f4;
}

.current-page__icon {
  transform: rotate(270deg);
  position: absolute;
  right: 16px;
}

.navbar-mobile__icon {
  fill: none;
  stroke: #f4f4f4;
}

.list-news__item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.item-news__wrapper-img {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.item-news__img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.item-news__category {
  position: absolute;
  display: flex;
  min-width: 96px;
  height: auto;
  padding: 4px 14px;
  margin: 0;
  left: 0px;
  top: 40px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  color: var(--white-color);
}

.item-news__add-to-favorite {
  position: absolute;
  display: block;
  min-width: 40px;
  min-height: 10px;
  margin: 0;
  padding: 6px 32px 6px 12px;
  right: 12px;
  bottom: 12px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: var(--text-color);
}

.item-news__block-icon {
  fill: none;
  position: absolute;
  right: 12px;
  top: 6px;
}

.item-news__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.item-news__description {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
}

.item-news__info {
  display: flex;
  justify-content: space-between;
}

.item-news__info-date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: var(--gray-color);
}

.item-news__info-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--accent-color);
}

@media screen and (min-width: 479.98px) {
  .list-news__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .item-news__title {
    font-size: 32px;
    line-height: 44px;
  }
  .item-news__description {
    font-size: 16px;
    line-height: 22px;
  }
  .item-news__info-date {
    font-size: 16px;
    line-height: 22px;
  }
  .item-news__info-link {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 767.98px) {
  .list-news {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .list-news__item {
    width: 353px;
    height: auto;
  }
  .item-news__img {
    width: 353px;
    height: auto;
  }
  .item-news__wrapper-text {
    display: flex;
    min-height: 280px;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-news__description {
    margin-bottom: 40px;
  }
  .item-news__info {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 767.98px) and (min-width: 1279.98px) {
  .list-news__item {
    width: 395px;
    height: auto;
  }
  .item-news__img {
    width: 395px;
    height: auto;
  }
  .item-news__info {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  .item-news__wrapper-text {
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-news__title {
    font-size: 32px;
    line-height: 44px;
  }
  .item-news__description {
    font-size: 16px;
    line-height: 22px;
  }
}
.pagination__list {
  display: flex;
  list-style: none;
}

.pagination__item {
  list-style: none;
  text-align: center;
  border: 1px solid #4440F6;
}

.pagination__numb {
  width: 28px;
  height: 28px;
}

.fas {
  width: 72px;
  height: 28px;
}

.underfined {
  font-family: Manrope;
  font-weight: 700;
  align-content: center;
  justify-content: center;
}

.underfined__title {
  color: var(--text-color);
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .underfined__title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .underfined__title {
    margin-bottom: 40px;
  }
}
.underfined__title .underfined__pictures {
  margin-bottom: 59px;
  margin-left: 36px;
  margin-right: 36px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .underfined__title .underfined__pictures {
    margin-bottom: 101px;
    margin-left: 104px;
    margin-right: 104px;
  }
}
@media screen and (min-width: 1280px) {
  .underfined__title .underfined__pictures {
    margin-bottom: 226px;
    margin-left: 104px;
    margin-right: 104px;
  }
}/*# sourceMappingURL=index.css.map */