@import './base/common';
@import './base/reset';
@import './utils/variables';
@import './base/general-classes';
@import './base/fonts';
@import './components/header';
@import './components/mobile_menu';
@import './components/filter';
@import './components/calendar';
@import './components/news_section';
@import './components/article';
@import './components/weather';
@import './components/paginations';
@import './components/footer';
