@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #111321;
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --gray-color: #a8a8a8;
  --footer-color: #7a7a7a;
  --switcher-gray: #5f6775;
  --switcher-accent: #4b48db;
}
:root body.darkMode {
  --bg-color: #2e2e2e;
  --text-color: #f4f4f4;
  --switcher-gray: #f4f4f4;
  --switcher-accent: #4440f7;
}

body {
  font-family: "Manrope";
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 767.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    max-width: 1280px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body.is-fixed {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff) format("woff"), url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff) format("woff"), url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff) format("woff"), url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.list-news__item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.item-news__wrapper-img {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.item-news__img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.item-news__category {
  position: absolute;
  display: flex;
  min-width: 96px;
  height: auto;
  padding: 4px 14px;
  margin: 0;
  left: 0px;
  top: 40px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  color: var(--white-color);
}

.item-news__add-to-favorite {
  position: absolute;
  margin: 0;
  padding: 6px 32px 6px 12px;
  right: 12px;
  bottom: 12px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: var(--text-color);
}

.item-news__icon {
  position: absolute;
  right: 0;
  top: 0;
}

.item-news__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.item-news__description {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
}

.item-news__info {
  display: flex;
  justify-content: space-between;
}

.item-news__info-date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: var(--gray-color);
}

.item-news__info-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--accent-color);
}

@media screen and (min-width: 479.98px) {
  .list-news__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .item-news__title {
    font-size: 32px;
    line-height: 44px;
  }
  .item-news__description {
    font-size: 16px;
    line-height: 22px;
  }
  .item-news__info-date {
    font-size: 16px;
    line-height: 22px;
  }
  .item-news__info-link {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 767.98px) {
  .list-news {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .list-news__item {
    width: 353px;
    height: auto;
  }
  .item-news__img {
    width: 353px;
    height: auto;
  }
  .item-news__description {
    margin-bottom: 40px;
  }
  .item-news__info {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 767.98px) and (min-width: 1279.98px) {
  .list-news__item {
    width: 395px;
    height: auto;
  }
  .item-news__img {
    width: 395px;
    height: auto;
  }
  .item-news__info {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  .item-news__title {
    font-size: 32px;
    line-height: 44px;
  }
  .item-news__description {
    font-size: 16px;
    line-height: 22px;
  }
}/*# sourceMappingURL=index.css.map */