:root {
  --bg-color: #f4f4f4;
  --text-color: #111321; // all text
  --color-btn-favorite: #111321;
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --gray-color: #a8a8a8; // date
  --footer-color: #7a7a7a;
  // switcher colors
  --switcher-gray-moon: #5f6775;
  // --switcher-accent: #4b48db;
  --switcher-accent-day: #4b48db;

  // DarkMode
  body.darkMode {
    --bg-color: #2e2e2e;
    --text-color: #f4f4f4;
    // switcher colors
    // --switcher-gray: #f4f4f4;
    --switcher-accent-day: #f4f4f4;

    --switcher-gray-moon: #4440f7;
  }
}

// Adaptiv

$pre_mobile: 479.98px;
$pre_tablet: 767.98px;
$pre_desktop: 1279.98px;

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//
