:root {
  --bg-color: #f4f4f4;
  --text-color: #111321; // all text
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --gray-color: #a8a8a8; // date
  --footer-color: #7a7a7a;
  // switcher colors
  --switcher-gray: #5f6775;
  --switcher-accent: #4b48db;

  // DarkMode
  body.darkMode {
    --bg-color: #2e2e2e;
    --text-color: #f4f4f4;
    // switcher colors
    --switcher-gray: #f4f4f4;
    --switcher-accent: #4440f7;
  }
}
