<section class="section__list-news">
    <ul class="list-news">
        <li class="list-news__item">
            <article class="item-news__article">
                <div class="item-news__wrapper-img">
                    <img class="item-news__img" src="#" alt="">
                    <p class="item-news__category">Job searching</p>
                    <p class="item-news__add-to-favorite">Add to favorite

                        <svg class="item-news__icon" width="11" height="13">
                            <use class="item-news__block-icon" href="./images/sprite.svg#like"></use>
                        </svg>

                    </p>
                </div>
                <h2 class="item-news__title">
                    8 tips for passing an online interview that will help you get a job
                </h2>
                <p class="item-news__description">
                    Before you start looking for a job, it is useful to familiarize yourself with the job prospects
                    offered by these...</p>
                <div class="item-news__info">
                    <span class="item-news__info-date">
                        20/02/2021
                    </span>
                    <a class="item-news__info-link" href="#">Read more</a>
                </div>
            </article>
        </li>
    </ul>
</section>