<input id="input-picker" class="calendar-input " /> </input>

<div class="calendar-wrapper container">
      <div class="calendar-switcher">
        <p class="current-date"></p>
        <div class="calendar-icons">
          <span id="prev" class="material-symbols-rounded"> < </span>
          <span id="next" class="material-symbols-rounded"> > </span>
        </div>
      </div>
      <div class="calendar">
        <ul class="weeks">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days"></ul>
      </div>
    </div>
