<header class="header">
  <div class="container header-container">
    <a href="#" class="logo">News</a>
    <nav>
      <ul class="navbar">
        <li class="navbar__item">
          <a href="#" class="navbar__link">Home</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">Favorite</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">Read</a>
        </li>
      </ul>
    </nav>
    
    <div class="search-field">
        <input type="text" id="search-field__input" placeholder="Search" />
        <svg class="search__icon" width="16" height="15">
          <use href="./images/sprite.svg#search-icon"></use>
        </svg>
    </div>

    <div class="theme">
        <!-- Перемикач теми на десктопі/планшеті -->
    </div>

    <button type="button" class="mobile-button js-open-menu" aria-expanded="fa
    ">
        <svg class="icon" width="24" height="24">
            <use href="./images/sprite.svg#mobile-menu"></use>
        </svg>
    </button>
  </div>
</header>
