<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__container">
    <div class="mobile-menu__wrapper">
      <a href="#" class="logo">News</a>
      <button type="button" class="close-btn js-close-menu">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#close-icon"></use>
        </svg>
      </button>
    </div>
    <ul class="navbar-mobile">
      <li class="navbar-mobile__item">
        <a href="#" class="navbar-mobile__link navbar-mobile__link--current">
          <div class="navbar-mobile__icon-wrapper navbar-mobile__icon-wrapper--current">
            <svg width="18" height="18" class="navbar-mobile__icon">
              <use href="./images/sprite.svg#home-icon"></use>
            </svg>
          </div>
          Home
          <svg width="24" height="12" class="current-page__icon">
            <use href="./images/sprite.svg#arrow-down"></use>
          </svg>
        </a>
      </li>
      <li class="navbar-mobile__item">
        <a href="#" class="navbar-mobile__link">
          <div class="navbar-mobile__icon-wrapper">
            <svg width="18" height="18" class="navbar-mobile__icon">
              <use href="./images/sprite.svg#favourite-icon"></use>
            </svg>
          </div>
          Favorite
        </a>
      </li>
      <li class="navbar-mobile__item">
        <a href="#" class="navbar-mobile__link">
          <div class="navbar-mobile__icon-wrapper">
            <svg width="18" height="18" class="navbar-mobile__icon">
              <use href="./images/sprite.svg#book-icon"></use>
            </svg>
          </div>
          Read
        </a>
      </li>
    </ul>
  </div>
</div>