<div class="mobile-menu js-menu-container">
  <div class="wrapper">
    <a href="#" class="logo">News</a>
    <button type="button" class="close-btn js-close-menu">
      <svg width="24" height="24">
        <use href="./images/sprite.svg#close-icon"></use>
      </svg>
    </button>
  </div>

  <ul class="navbar-mobile">
    <li class="navbar-mobile__item">
      <a href="#" class="navbar-mobile__link current-page">
        <div class="icon-wrapper">
          <svg width="18" height="18" class="navbar-mobile__icon">
            <use href="./images/sprite.svg#home-icon"></use>
          </svg>
        </div>
        Home
        <svg width="24" height="12" class="current-page__icon">
          <use href="./images/sprite.svg#arrow-down"></use></svg
      ></a>
    </li>
    <li class="navbar-mobile__item">
      <a href="#" class="navbar-mobile__link">
        <div class="icon-wrapper">
          <svg width="18" height="18" class="navbar-mobile__icon">
            <use href="./images/sprite.svg#favourite-icon"></use>
          </svg>
        </div>
        Favorite</a
      >
    </li>
    <li class="navbar-mobile__item">
      <a href="#" class="navbar-mobile__link">
        <div class="icon-wrapper">
          <svg width="18" height="18" class="navbar-mobile__icon">
            <use href="./images/sprite.svg#book-icon"></use>
          </svg>
        </div>
        Read</a
      >
    </li>
  </ul>

  <div class="mobile-theme">
    <!-- Перемикач теми на телефоні -->
  </div>
</div>
