<section class="underfined underfined-hidden">
    <!-- <div class="container"> -->
        <p class="underfined___title">We haven't found news from </br> this category</p>
        <picture >
            <source 
                srcset="./images/mobile.png 1x, ./images/mobile@2x.png 2x" 
                type="image/png" 
                media="(max-width: 479.98px)"
                alt="underfined-picture"/>
            <source 
                srcset="./images/tablet.png 1x, ./images/tablet@2x.png 2x" 
                type="image/png" 
                media="(max-width:767.98px)" 
                alt="underfined-picture"/>
            <source 
                srcset="./images/desktop.png 1x, ./images/desktop@2x.png 2x" 
                type="image/png" 
                media="(min-width: 1279.98px)"
                alt="underfined-picture"/>
            <img 
                class="underfined___picture"
                src="./images/mobile.png" 
                alt="underfined-picture" 
                width="248" 
                height="198"/>
        </picture>
    <!-- </div> -->
</section>
