<div class="news-loader__container container">
  <div class="news-loader-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<ul class="list-news"></ul>
<div class="page-container pagination">
  <div class="pagin">
    <!-- <button class="first-page" disabled>
		  <i class="fas fa-angle-double-left"></i>
		</button> -->
    <button class="prev-page btn-prev" disabled>
      <a class="fas fa-angle-left btn-prev">
        <span class="s_prew btn-prev">&#8249; Prew</span>
      </a>
    </button>
    <div id="pagination"></div>
    <button class="next-page btn-next">
      <a class="fas fa-angle-right btn-next">
        Next <span class="s_next btn-next">&#8250;</span>
      </a>
    </button>
    <!-- <button class="last-page">
		  <i class="fas fa-angle-double-right"></i>
		</button> -->
  </div>
</div>

<div class="page-container-search pagination_search pagination-search-hidden">
  <div class="pagin-search">
    <!-- <button class="first-page" disabled>
			  <i class="fas fa-angle-double-left"></i>
			</button> -->
    <button class="prev-page-search btn-prev" disabled>
      <a class="fas-search fa-angle-left-search btn-prev">
        <span class="s_prew-search btn-prev">&#8249; Prew</span>
      </a>
    </button>
    <div id="pagination-search"></div>
    <button class="next-page-search btn-next">
      <a class="fas-search fa-angle-right-search btn-next">
        Next <span class="s_nex-searcht">&#8250;</span></a
      >
    </button>
    <!-- <button class="last-page">
			  <i class="fas fa-angle-double-right"></i>
			</button> -->
  </div>
</div>

<div class="page-container-cat pagination_cat pagination-cat-hidden">
  <div class="pagin-cat">
    <!-- <button class="first-page" disabled>
				<i class="fas fa-angle-double-left"></i>
			 </button> -->
    <button class="prev-page-cat" disabled>
      <a class="fas-cat fa-angle-left-cat">
        <span class="s_prew-cat">&#8249; Prew</span>
      </a>
    </button>
    <div id="pagination-cat"></div>
    <button class="next-page-cat">
      <a class="fas-cat fa-angle-right-cat">
        Next <span class="s_nex-cat">&#8250;</span></a
      >
    </button>
    <!-- <button class="last-page">
				<i class="fas fa-angle-double-right"></i>
			 </button> -->
  </div>
</div>
