<section class="pagination">
    <div class="container">
        <ul class="pagination__list">
            <!-- <li class="pagination__item">
                <a class="pagination__link pagination__pointer-prev">
                    <svg width="24" height="24">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                    Prev
                </a>
            </li>
            <li class="pagination__item pagination__first-numb">
                <a class="pagination__link">
                    1
                </a>
            </li>
            <li class="pagination__item pagination__dots">
                <a class="pagination__link">
                    ...
                </a>
            </li>
            <li class="pagination__item pagination__numb">
                <a class="pagination__link">
                   4
                </a>
            </li>
            <li class="pagination__item pagination__dots">
                <a class="pagination__link">
                    ...
                </a>
            </li>
            <li class="pagination__item pagination__last-numb">
                <a class="pagination__link">
                    20
                </a>
            </li>
            <li class="pagination__item pagination__pointer-next">
                
                <a class="pagination__link">
                    Next
                    <svg width="24" height="24">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </a>
            </li> -->
        </ul>
    
    </div>
</section>
