<section class="pagination">
    <div class="container">
        <ul class="pagination__list">
            <li class="pagination__item">
                <span>
                    <i class="fas fa-angel-left"></i>
                    Prev
                </span>
            </li>
            <li class="pagination__item pagination__numb">
                <span>
                    1
                </span>
            </li>
            <li class="pagination__item pagination__dots">
                <span>
                    ...
                </span>
            </li>
            <li class="pagination__item pagination__numb">
                <span>
                   4
                </span>
            </li>
            <li class="pagination__item pagination__dots">
                <span>
                    ...
                </span>
            </li>
            <li class="pagination__item pagination__numb">
                <span>
                    20
                </span>
            </li>
            <li class="pagination__item">
                <span>
                    <i class="fas fa-angel-right"></i>
                    Next
                </span>
            </li>
        </ul>
    </div>
</section>