.calendar-form {
  position: relative;
  @media screen and (min-width: $desktop) {
    margin-left: 52px;
  }
}
.calendar-input {
  display: flex;
  text-align: center;
  width: 152px;
  height: 31px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  position: relative;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: transparent;
  gap: 13px;
  padding: 5px 12px;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $tablet) {
    width: 168px;
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
    gap: 18px;
  }
}

.input-form {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar__button-arrow {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 3;
  fill: var(--accent-color);
}
.calendar__button-arrow.switched {
  fill: var(--white-color);
  transform: rotateX(180deg);
}
.calendar-input.isActive {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  border: 1px solid #4440f7;
}
.calendar__button-back {
  fill: var(--accent-color);
}
.calendar-wrapper {
  z-index: 2;
  position: absolute;
  overflow: hidden;
  margin-left: 0;
  padding: 16px 16px 20px 16px;
  width: 250px;
  height: 250px;
  right: 0px;
  background: var(--white-color);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.calendar-switcher {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  height: 44px;
  margin-bottom: 2px;
}
.current-date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: 'case' on;
  color: var(--text-color);
}

.calendar-icons {
  display: flex;
}
.calendar-icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.calendar-icons span:last-child {
  margin-right: -10px;
}
.calendar-icons span:hover {
  background: var(--white-color);
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  margin-bottom: 14px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.078px;
  color: rgba(60, 60, 67, 0.3);
}

.calendar .days li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.38px;
  color: var(--text-color);
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
}
.calendar .days li:nth-last-child(-n + 7) {
  margin-bottom: 0;
}
// .calendar .days li:nth-child(6n + 1),
// .calendar .days li:nth-child(7n + 1) {
//   color: #5f6775;
// }
.days li.active {
  color: var(--white-color);
}
.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 28px;
  width: 28px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: var(--accent-color);
}
