.filter-category__item-bt.isActive-outsideBt {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.filter-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 40px;
}

.filter-category {
    position: relative;
    display: flex;

    &__others-container:hover &__list,
    &__others-container:focus &__list {
        @media screen and (min-width: $tablet) {
            transform: translateY(0);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__others-container:hover &__container,
    &__others-container:focus &__container {
        @media screen and (min-width: $tablet) {
            transform: scale(1);
        }
    }

    &__others-container:hover &__others-button,
    &__others-container:focus &__others-button {
        @media screen and (min-width: $tablet) {
            color: var(--white-color);
            background-color: var(--accent-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__others-container:hover &__button-arrow,
    &__others-container:focus &__button-arrow {
        @media screen and (min-width: $tablet) {
            fill: var(--white-color);
            transform: rotateX(180deg);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    // mobile on click
    .filter-category__others-container.is-open &__list {
        @media screen and (max-width: $pre_tablet) {
            visibility: visible;
            transform: translateY(0);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .filter-category__others-container.is-open &__container {
        @media screen and (max-width: $pre_tablet) {
            transform: scale(1);
        }
    }

    .filter-category__others-container.is-open &__others-button {
        @media screen and (max-width: $pre_tablet) {
            color: var(--white-color);
            background-color: var(--accent-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .filter-category__others-container.is-open &__button-arrow {
        @media screen and (max-width: $pre_tablet) {
            fill: var(--white-color);
            transform: rotateX(180deg);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    // --------

    &__list-bt {
        @media screen and (max-width: $pre_tablet) {
            display: none;
        }

        @media screen and (min-width: $tablet) {
            display: flex;
        }
    }

    &__item-bt {
        cursor: pointer;

        &:nth-child(n + 5) {
            @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
                display: none;
            }
        }

        &:hover,
        &:focus {
            color: var(--white-color);
            background-color: var(--accent-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__item-bt+&__item-bt {
        @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
            margin-left: 14px;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 16px;
        }
    }

    &__item-bt {
        padding-top: 7.5px;
        padding-right: 13px;
        padding-bottom: 7.5px;
        padding-left: 13px;
        border-radius: 20px;
        border: 1px solid var(--accent-color);

        color: var(--accent-color);
        background-color: var(--white-color);

        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }

    &__others-button {
        display: flex;
        align-items: center;

        padding-top: 7.5px;
        padding-right: 13px;
        padding-bottom: 7.5px;
        padding-left: 13px;
        border-radius: 20px;
        border: 1px solid var(--accent-color);

        color: var(--accent-color);
        background-color: var(--white-color);

        font-size: 12px;
        line-height: 16px;
        text-align: center;

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
            margin-left: 14px;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 16px;
        }
    }

    &__button-arrow {
        margin-left: 10px;
        fill: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__container {
        overflow: hidden;
        position: absolute;
        z-index: 2;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__list {
        display: block;
        width: 148px;
        padding: 14px;
        border-radius: 20px;

        transform: translateY(-100%);

        background-color: #F8F8F8;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: $tablet) {
            // width: 528px;
        }
    }

    &__button {
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: 0.01em;

        background-color: #F8F8F8;
        color: #4440F7;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        @media screen and (max-width: $pre_tablet) {}

    }

    &__item+&__item {
        margin-top: 12px;
    }
}

// ------------------------------------------------------------------
// анимация loader spinner (загрузки)

.lds-ring {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    margin: 1.5px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--accent-color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}