.header {
  min-height: 81px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);
  display: inline-block;
  padding: 24px 0;
}

.navbar {
  display: none;
}

.search-field {
  margin-left: auto;

  input {
    width: 20px;
  }
}

.mobile-button {
  margin-left: 14px;
}

.theme {
  display: none;
}

.mobile-button {
  @media screen and (min-width: $pre_tablet) {
    display: none;
  }
}
