.header {
  min-height: 81px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);
  display: inline-block;
  padding: 24px 0;
}

.navbar {
  display: none;
}

.search-field {
  margin-left: auto;

  input {
    width: 20px;
  }
}

.mobile-button {
  margin-left: 14px;
}

.theme {
  display: none;
}

.mobile-button {
  @media screen and (min-width: $pre_tablet) {
    display: none;
  }
}




 .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  
  .switch input {display:none;}
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-color);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid var(--accent-color); 
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color:var(--accent-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    background-color: var(--white-color);
  }
  
  input:checked + .slider {
     background-color: var(--accent-color); 
    border: 1px solid var(--white-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color); 
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .theme-dark{
    background-color: var(--bg-color);
    color: var(--text-color);
  }
.theme-dark .theme__dark{
    color: var(--accent-color); 
}
.theme-dark .theme__light{
    color: var(--text-color);
    opacity: 0.4;
}

  .theme{
    display: flex;
    gap: 8px;
  }
  .theme__dark{
    display: none;
  }
  .theme__light{
    display: none;
  }
  @media screen and (min-width : $desktop){
    .theme{
        gap: 12px;
}
  .theme__svg{
    display: none;
  }
  .theme__dark{
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
    opacity: 0.4;
  }
  .theme__light{
    display: block;
    font-size: 18px;
    line-height: 1.3;
    
  }

}
  input:checked + .theme__dark{
    color: var(--accent-color); 

  }
.theme__light{
    color: var(--accent-color); 
}
.theme__dark:checked + .slider{
   color: var(--accent-color); 

}
.sun{
  fill: var(--accent-color);
}
.moon{
fill: var(--switcher-gray);
}
.theme-dark .moon{
  fill: var(--accent-color);
}
.theme-dark .sun{
  fill: var(--switcher-gray);
}