.underfined {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 59px;

  @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
    margin-top: 48px;
    margin-bottom: 101px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 15px;
    margin-bottom: 60px;
  }
  &-hidden {
    display: none;
  }
}

.underfined___title {
  font-family: Manrope;
  font-weight: 700;
  color: var(--text-color);
  font-size: 20px;
  line-height: 27px;
  @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
    font-size: 40px;
    line-height: 55px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 40px;
    line-height: 55px;
  }
}

.underfined___picture {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: auto;
  @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
    width: 270px;
  }

  @media screen and (min-width: $desktop) {
    width: 350px;
  }
}
