.underfined {
  font-family: Manrope;
  font-weight: 700;
  align-content: center;
  justify-content: center;
  &-hidden {
    display: none;
  }
}

.underfined__title {
  // width: 100%;
  // height: 100%;
  color: var(--text-color);
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
    font-size: 40px;
    line-height: 55px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }

  .underfined__pictures {
    margin-bottom: 59px;
    margin-left: 36px;
    margin-right: 36px;
    @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
      margin-bottom: 101px;
      margin-left: 104px;
      margin-right: 104px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 226px;
      margin-left: 104px;
      margin-right: 104px;
    }
  }
}
