.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  background-color: var(--bg-color);
    @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
      height: 31px;
      margin-bottom: 100px;
      margin-top: 48px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 150px;
      margin-top: 60px;
    }
}

.pagin {
  display: flex;
  justify-content: center;
  height: 28px;
  width: 288px;
  @media screen and (min-width: $tablet) {
    height: 31px;
    width: 415px;
  }
   
}
.page-container a {
  padding: 4px 12px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}
.pg-item {
  :hover,
  :focus {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
      border: 1px solid var(--accent-color);
      border-radius: 2px;
}

.page-container button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button.prev-page,
button.next-page {
  width: 72px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}
button.prev-page{
  margin-right: 6px;
}
button.next-page{
  margin-left: 6px;
}
.page-container button:disabled a {
  color: var(--text-color);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

#pagination {
  display: flex;
  align-items: center;
}
#pagination li {
  list-style: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0 4px;
}
#pagination li.active {
  background-color: var(--accent-color);
}
#pagination li.active a {
  color: var(--white-color);
}
#pagination li a {
  text-decoration: none;
  padding: 4px auto;
  display: inline-block;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  pointer-events: none;
  color: var(--text-color);
}
#pagination li:hover {
  background-color: var(--accent-color);
}
#pagination li:hover a {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.settings {
  padding-top: 3rem;
  display: flex;
  align-items: flex-start;
}
.settings .form-input {
  margin-bottom: 1rem;
}
.settings .form-input:not(:last-child) {
  margin-right: 10px;
}
.settings .form-input > label {
  margin-bottom: 10px;
}
.settings .form-input label {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
}
.settings .form-input > input {
  width: 100%;
}
.settings .form-input input {
  font-size: 18px;
  outline: none;
  padding: 10px 17px;
  border: 1px solid #b6b6b6;
}
.settings .wrapper-form-check {
  display: flex;
}
.settings .wrapper-form-check .form-check {
  display: flex;
  line-height: 1;
  align-items: center;
}
.settings .wrapper-form-check .form-check:not(:last-child) {
  margin-right: 10px;
}
.settings .wrapper-form-check label {
  margin-left: 10px;
}
@media (max-width: 992px) {
  .settings {
    flex-direction: column;
  }
}

.s_prew {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.pagination-hidden {
  display: none;
}
a.fas {
  height: 28px;
}