.date-list {
  padding-top: 20px;
  padding-bottom: 40px;
}
.date-list-search {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}
.date-list__btn {
  display: flex;
  align-items: start;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid #929292;
  margin-top: 30px;
  margin-bottom: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.02em;

  color: var(--text-color);
}
.date-list__btn-block {
  display: flex;
  padding-top: 8px;
}
.date-list__btn-text {
  margin-right: 8px;
}
.date-list__btn-icon {
  &.turn {
    transform: rotate(180deg);
  }
}
